// app/layout.styl

@import '../_variables'
@import '../_mixins'


// your styles here:
body
  background: rgb(240, 240, 240)

.container
  main
    padding-bottom 20px

.media-thumbnail {
  height 90px
}