section.page.home
  h2 Welcome to
  h2 Catch Novela!

  h3 Favorite Series
  a(href="/series/9891050")
    img(src="../images/001TitleImage.jpg", style="width:100%;")
  //- a.btn.btn-lg.btn-primary(href="/series", role="button") series