.media
  a.media-left(href="#", data-hook="media-link")
    img.media-thumbnail(src="...", data-hook="media-image")
  .media-body
    h4.media-heading(data-hook="media-heading")
    img(data-hook="media-body-image" class='hidden')
    p(data-hook="media-body")
