body
  //- nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#feedline-navbar", data-hook="collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') feedline
      .collapse.navbar-collapse#feedline-navbar(data-hook="collapse-target")
        ul.nav.navbar-nav
          li
            a(href="/") home
          li
            a(href="/series") tv
          li
            a(href="/video") video
          li
            a(href="/feedline") feedline
  .container
    .row
      .col-xs-12.col-sm-6.col-md-7
        .content
          #phone-view
            .device(data-hook="rotate-target")
              .phone-container
                .main-view(data-hook="main-view")
                  nav.navbar.navbar-default(data-hook="app-nav")
                    .container-fluid
                      .navbar-header
                        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#app-navbar", data-hook="app-collapse")
                          span.sr-only Toggle navigation
                          span.icon-bar
                          span.icon-bar
                          span.icon-bar
                        a.navbar-brand(href='/') Catch Novela
                      .collapse.navbar-collapse#app-navbar(data-hook="app-collapse-target")
                        ul.nav.navbar-nav
                          li
                            a(href="/series") tv
                          li
                            a(href="/video") video
                        ul.nav.navbar-nav.navbar-right
                          li
                            a#settings-cog(href="/settings", role="button")
                              span.glyphicon.glyphicon-cog
                              span.sr-only settings
                  main(data-hook="page-container")
                div(data-hook="settings")
      .col-xs-12.col-sm-6.col-md-5
        .jumbotron
          h1 Catch Novela
          p By Los Señores de la Hackathon
          <br />

          h3
            dl.dl-horizontal
              dt Challenge
              dd
                a(href="http://www.telemundo.com") Telemundo
            dl.dl-horizontal
              dt Technologies
              dd
                a(href="http://theplatform.com") thePlatform
              dd
                a(href="http://www.watchwith.com") Watchwith
              dd
                a(href="http://www.gracenote.com") Gracenote
              dd
                a(href="http://www.spredfast.com") SpredFast
          p
            | Created at the
            a(href='http://nbcuhackathon.com/')  NBCU Hackathon
            |  in LA 2014
          <br />
          button.btn.btn-primary.btn-lg(data-hook="rotate") Rotate


  //- .container
    main(data-hook="page-container")
